.results-table {
    width: 100%;
    font-size: 0.75em;
    margin-top: 20px;
}

.results-cell {
    width: 5em;
    text-align: right;
}

.odd {
    background-color: rgba(204, 222, 255, 0.5);
}

/*.display-options-dropdown-button {*/
/*background-color: #0aa594;*/
/*position: absolute;*/
/*right: 0;*/
/*height: 1.5em;*/
/*}*/

/*.results-table-header-row {*/
/*height: 1.5em;*/
/*}*/

@media print {
    .popup-window {
        position: absolute;
        border: none;
        background: #fff;
        z-index: 100000;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        padding: 1em;
        overflow: auto;
        height: 100%;
        width: 100%;
    }
}