.results-table {
    width: 100%;
    font-size: 11px;
    margin-top: 20px;
}

.results-table tbody {
    border-bottom: 2px solid #999;
}

.results-table.hover tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

.results-cell {
    width: 6em;
    text-align: right;
	font-family: arial;
}

.results-cell.condensed {
  width: 40px;
}

.odd {
    background-color: rgba(230, 230, 230, 1);
}

#results-container table {
    border-collapse: collapse;
}

.border-bottom {
    border-bottom: 2px solid #999;
}

.border-top {
    border-top: 2px solid #999;
}

/*#results-container td {*/
    /*border: solid 0.1em rgba(150, 150, 150, 0.5);*/
/*}*/

.grayed {
    background-color: rgba(200, 200, 200, 0.4);
}

.total {
    border-top: 3px double #333;
    /*border-bottom: 1px double #333;*/
}

.total a {
    font-weight: bold;
}

/*.display-options-dropdown-button {*/
/*background-color: #0aa594;*/
/*position: absolute;*/
/*right: 0;*/
/*height: 1.5em;*/
/*}*/

/*.results-table-header-row {*/
/*height: 1.5em;*/
/*}*/

@media print {
    .popup-window {
        position: absolute;
        border: none;
        background: #fff;
        z-index: 100000;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        padding: 1em;
        overflow: auto;
        height: 100%;
        width: 100%;
    }
}